---
import '../styles/global.css';
import backgroundStars from '../assets/images/background-stars.svg';
const { title = 'Planets Fact Site'} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="max-w-screen min-h-dvh font-spartan bg-slate-950 text-zinc-100 bg-[url(../assets/images/background-stars.svg)] bg-no-repeat bg-cover">
		<slot />
	</body>
</html>
